Source: xen-unstable
Section: misc
Priority: extra
Maintainer: Debian Xen Team <pkg-xen-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>, Jeremy T. Bouse <jbouse@debian.org>, Guido Trotter <ultrotter@debian.org>, Bastian Blank <waldi@debian.org>
Build-Depends: tetex-bin, tetex-extra, gs-common, debhelper (>= 4), libcurl3-dev | libcurl-dev, python-dev, python (>= 2.2), transfig, libsdl1.2-dev, libvncserver-dev, libjpeg-dev, bzip2, bcc, dpatch, lsb-release
Standards-Version: 3.6.2.2

Package: xen-hypervisor-unstable-amd64
Architecture: amd64
Provides: xen-hypervisor, xen-hypervisor-unstable, xen-hypervisor-amd64
Description: The Xen Hypervisor for amd64
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-hypervisor-unstable-i386
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-unstable, xen-hypervisor-i386
Description: The Xen Hypervisor for i386
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-hypervisor-unstable-i386-pae
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-unstable, xen-hypervisor-i386-pae
Description: The Xen Hypervisor for i386 (pae enabled version)
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-utils-unstable
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${python:Depends}, xen-hypervisor-unstable, iproute, udev (>> 0.060), python-twisted
Recommends: bridge-utils
Provides: xen-utils
Conflicts: xen-utils
Description: XEN administrative tools
 The userspace tools to manage a system virtualized through the XEN virtual
 machine monitor.

Package: xen-docs-unstable
Architecture: all
Description: documentation for XEN, a Virtual Machine Monitor
 This package contains all the large documentation files for XEN.  This
 includes a description interface(both the api, and a nice explanation of
 how XEN works).  It also contains the VBD and Xeno howtos.

