#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include debian/rules.defs
include /usr/src/linux-support-$(KERNELVERSION)/modules/rules.include

VERSION := $(shell dpkg-parsechangelog | perl -ne '/^Version:\s+(\S+)-[^-]+$$/ && print $$1;')

GENCONTROL = debian/bin/gencontrol.py $(KERNELVERSION)

setup: $(STAMPS_DIR)/setup-base
$(STAMPS_DIR)/setup-base: debian/control $(BUILD_DIR) $(STAMPS_DIR)
	dh_testdir
	$(MAKE) -f debian/rules.gen setup-$(DEB_HOST_ARCH)
	touch $@

$(BUILD_STAMP): $(STAMPS_DIR)/setup-base

DIR_ORIG = ../orig/xen-$(MAJOR)-$(VERSION)

orig: $(DIR_ORIG)
	rsync --delete --exclude debian --exclude .svn --link-dest=$(DIR_ORIG)/ -a $(DIR_ORIG)/ .

# This is to make dpatch-edit-patch work
unpatch: clean                                 

maintainerclean:
	rm -f debian/control* debian/rules.gen debian/xen-utils-*
	rm -rf $(filter-out .svn debian, $(wildcard * .[^.]*))

