Source: xen
Section: misc
Priority: extra
Maintainer: Debian Xen Team <pkg-xen-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>, Jeremy T. Bouse <jbouse@debian.org>, Guido Trotter <ultrotter@debian.org>, Bastian Blank <waldi@debian.org>
Standards-Version: 3.6.2.2
Build-Depends: tetex-bin, tetex-extra, gs-common, debhelper (>= 4), libcurl3-dev | libcurl-dev, dh-kpatches, python-dev, python (>= 2.2), transfig, libsdl1.2-dev, libvncserver-dev, libjpeg-dev, bzip2, bcc, dpatch

Package: xen-hypervisor-3.0-amd64
Architecture: amd64 i386
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-amd64
Description: The Xen Hypervisor for amd64
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-hypervisor-3.0-i386
Section: misc
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-i386
Description: The Xen Hypervisor for i386
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-hypervisor-3.0-i386-pae
Section: misc
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-i386-pae
Description: The Xen Hypervisor for i386 (pae enabled version)
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-utils-3.0
Section: misc
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${python:Depends}, xen-hypervisor-3.0, libxen3.0-python, iproute, udev
Recommends: bridge-utils
Provides: xen-utils
Conflicts: xen-utils
Description: XEN administrative tools
 The userspace tools to manage a system virtualized through the XEN virtual
 machine monitor.

Package: xen-utils-3.0
Section: misc
Architecture: i386 amd64
Depends: xen-hypervisor-3.0,  python-twisted, python, libxen-python, iproute, hotplug | udev, ${shlibs:Depends}
Recommends: bridge-utils
Provides: xen-utils
Conflicts: udev (<< 0.059)
Description: XEN administrative tools
 The userspace tools to manage a system virtualized through the XEN virtual
 machine monitor.

Package: libxen3.0
Section: libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}
Conflicts: xen-docs (<= 1.2), libxen2.0
Description: control library for XEN, a Virtual Machine Monitor
 Library to control the XEN microkernel.  Contains functions for creating,
 starting, stopping, saving, virtual instances.

Package: libxen-dev
Section: libdevel
Architecture: i386 amd64
Depends: libxen3.0 (= ${Source-Version})
Description: development files for the control library for XEN
 Users wishing to develop their own tools for interfaces to the underlying
 XEN kernel should install this package.

Package: xen-docs
Section: misc
Architecture: all
Description: documentation for XEN, a Virtual Machine Monitor
 This package contains all the large documentation files for XEN.  This
 includes a description interface(both the api, and a nice explanation of
 how XEN works).  It also contains the VBD and Xeno howtos.

Package: libxen-python
Section: python
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${python:Depends}
Description: python wrapper around libxc, the control library for XEN
 This python library wraps the C library, and provides a nice OO interface
 to the low-level system calls.  It also provides some higher-level config
 file parsing.
