Source: xen-3.0
Section: misc
Priority: extra
Maintainer: Debian Xen Team <pkg-xen-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>, Jeremy T. Bouse <jbouse@debian.org>, Guido Trotter <ultrotter@debian.org>, Bastian Blank <waldi@debian.org>
Build-Depends: tetex-bin, tetex-extra, gs-common, debhelper (>= 4), libcurl3-dev | libcurl-dev, python-dev, python (>= 2.2), transfig, libsdl1.2-dev, libvncserver-dev, libjpeg-dev, bzip2, bcc, dpatch, lsb-release
Standards-Version: 3.7.2.0

Package: xen-hypervisor-3.0-amd64
Architecture: amd64
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-amd64
Description: The Xen Hypervisor for amd64
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.

Package: xen-hypervisor-3.0-i386
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-i386
Description: The Xen Hypervisor for i386
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.
 .
 This version of the hypervisor is built with support for systems with up to
 4GB of memory. If you have more please install the -pae version instead.

Package: xen-hypervisor-3.0-i386-pae
Architecture: i386
Provides: xen-hypervisor, xen-hypervisor-3.0, xen-hypervisor-i386-pae
Description: The Xen Hypervisor for i386 (pae enabled version)
 The hypervisor is the "core" for XEN itself. It gets booted by the boot loader
 and controls cpu and memory, sharing them between your administrative domain
 (Domain 0) and the virtual guest systems.
 .
 In order to boot a XEN system along with this package you also need a kernel
 specifically crafted to work as the Domain 0, mediating hardware access for
 XEN itself. An example config file for this kernel and documentation on how
 to build it can be found in the xen-docs package.
 .
 This version of the hypervisor is built with PAE enabled, in order to support
 systems with more than 4GB of memory. If you have less than that you should
 probably choose the non -pae version.

Package: xen-utils-3.0
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${python:Depends}, xen-hypervisor-3.0, iproute, udev (>> 0.060)
Recommends: bridge-utils, libc6-xen
Provides: xen-utils
Conflicts: xen-utils, xen, libxen-python, libxen2.0, libxen2.0-dev
Description: XEN administrative tools
 The userspace tools to manage a system virtualized through the XEN virtual
 machine monitor.

Package: xen-ioemu-3.0
Architecture: amd64 i386
Depends: ${shlibs:Depends}, xen-utils-3.0 (= ${Source-Version})
Description: XEN administrative tools
 The userspace tools to manage a system virtualized through the XEN virtual
 machine monitor.
 .
 This package includes the utilities required to support HVM domains, which
 allows full virtualization of unmodified operating systems, such as
 Microsoft's Windows product line, and standard Linux kernels.
 .
 For this to work, you will need a CPU with hardware virtualization support,
 such as Intel's CPU's with VT, or AMD's CPU's with Pacifica.

Package: xen-docs-3.0
Architecture: all
Description: documentation for XEN, a Virtual Machine Monitor
 This package contains all the large documentation files for XEN.  This
 includes a description interface(both the api, and a nice explanation of
 how XEN works).  It also contains the VBD and Xeno howtos.

