#!/usr/bin/make -f

CC		:= gcc
CFLAGS		:= -Wall -g
#DH_VERBOSE	:= -v

DEB_VERSION	:= $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
DEB_REVISION	:= $(shell echo "$(DEB_VERSION)" | sed 's/.*-//')
UP_VERSION	:= $(shell echo "$(DEB_VERSION)" | sed 's/-[^-]*$$//')
DEB_BUILD_ARCH  := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif

export DH_VERBOSE
export CC CFLAGS

include /usr/share/dpatch/dpatch.make

clean: really-clean unpatch

really-clean:
	dh_testdir
	dh_testroot
	$(MAKE) distclean
	rm -f build-arch-stamp build-indep-stamp
	rm -rf debian/install
	dh_clean

build: patch-stamp build-indep build-arch

build-arch: build-arch-stamp
build-arch-stamp:
ifeq ($(DEB_BUILD_ARCH),i386)
	# This actually installs the PAE hypervisor rather than just building it!
	# Unfortunately it's the only way to build it without losing it later on, when cleaning for the real thing!
	$(MAKE) install-xen XEN_TARGET_X86_PAE=y TARGET=$(CURDIR)/xen/xen_pae DESTDIR=$(CURDIR)/dist
	$(MAKE) -C xen clean
endif
	$(MAKE) -C xen build
	$(MAKE) -C tools all XEN_PYTHON_NATIVE_INSTALL=1
	$(MAKE) -C docs man-pages # Needed, otherwise dpkg-buildpackage -B fails
	touch build-arch-stamp

build-indep: build-indep-stamp
build-indep-stamp:
	$(MAKE) -C docs all
	touch build-indep-stamp

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i
	
	$(MAKE) install-docs DESTDIR=$(CURDIR)/debian/install
	
	dh_install -i --sourcedir=$(CURDIR)/debian/install

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s
	$(MAKE) install-tools XEN_PYTHON_NATIVE_INSTALL=1 DESTDIR=$(CURDIR)/debian/install
	$(MAKE) install-xen DESTDIR=$(CURDIR)/debian/install
ifeq ($(DEB_BUILD_ARCH),i386)
	cp -dR $(CURDIR)/dist/boot/* $(CURDIR)/debian/install/boot/
endif	
	$(MAKE) -C tools/examples install-udev DESTDIR=$(CURDIR)/debian/install
	$(MAKE) -C tools/examples install-hotplug DESTDIR=$(CURDIR)/debian/install
	cp -dR $(CURDIR)/docs/man1 $(CURDIR)/debian/install/usr/share/man # Needed, otherwise dpkg-buildpackage -B fails
	cp -dR $(CURDIR)/docs/man5 $(CURDIR)/debian/install/usr/share/man # Needed, otherwise dpkg-buildpackage -B fails
	find $(CURDIR)/debian/install -name '*.pyc' | xargs rm
	mkdir -p debian/install/etc/xen/xend/server
	mv debian/install/usr/lib/python2.3/site-packages/xen/xend/server/params.py debian/install/etc/xen/xend/params.py
	ln -s /etc/xen/xend/params.py debian/install/usr/lib/python2.3/site-packages/xen/xend/server/params.py
	mkdir -p debian/install/usr/share/doc/xen/examples
	mv debian/install/etc/xen/xmexample* debian/install/usr/share/doc/xen/examples
	chmod +x \
		debian/install/usr/lib/python2.3/site-packages/xen/xend/XendClient.py \
		debian/install/usr/lib/python2.3/site-packages/xen/util/bugtool.py \
		debian/install/usr/lib/python2.3/site-packages/xen/xend/sxp.py
	
	dh_install -s --sourcedir=$(CURDIR)/debian/install

binary-common:
	@echo "DEB_VERSION='$(DEB_VERSION)' DEB_REVISION='$(DEB_REVISION)' UP_VERSION='$(UP_VERSION)' DEB_BUILD_ARCH='$(DEB_BUILD_ARCH)'"
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installman
	dh_python
	dh_strip
	dh_compress
	dh_makeshlibs -V 'libxen3.0 (>= $(UP_VERSION))'
	dh_shlibdeps -l$(CURDIR)/debian/install/usr/lib -Llibxen3.0 ; \
	dh_fixperms
	dh_md5sums
	dh_installdeb
	dh_gencontrol
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure

